Modelo/Connected Services/CCService/CandyCrushService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CandyCrushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64258/CandyCrushService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64258/CandyCrushService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64258/CandyCrushService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICandyCrushService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_setScore_InputMessage">
    <wsdl:part name="parameters" element="tns:setScore" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_setScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:setScoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:subscribe" />
  </wsdl:message>
  <wsdl:message name="ICandyCrushService_subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:subscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICandyCrushService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandyCrushService/login" message="tns:ICandyCrushService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandyCrushService/loginResponse" message="tns:ICandyCrushService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandyCrushService/register" message="tns:ICandyCrushService_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandyCrushService/registerResponse" message="tns:ICandyCrushService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setScore">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandyCrushService/setScore" message="tns:ICandyCrushService_setScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandyCrushService/setScoreResponse" message="tns:ICandyCrushService_setScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandyCrushService/subscribe" message="tns:ICandyCrushService_subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandyCrushService/subscribeResponse" message="tns:ICandyCrushService_subscribe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICandyCrushService" type="tns:ICandyCrushService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/ICandyCrushService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/ICandyCrushService/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScore">
      <soap:operation soapAction="http://tempuri.org/ICandyCrushService/setScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribe">
      <soap:operation soapAction="http://tempuri.org/ICandyCrushService/subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CandyCrushService">
    <wsdl:port name="BasicHttpBinding_ICandyCrushService" binding="tns:BasicHttpBinding_ICandyCrushService">
      <soap:address location="http://localhost:64258/CandyCrushService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>